.Card {
  width: 45%;
  margin: 40px;
  padding: 20px;
  color: #0f0f0f;
  text-align: left;
  background: #c8d1d7;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(200, 209, 215, 1);
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  overflow: hidden;
}

.CardPhoto-Wrap {
  width: 110px;
  height: 140px;
  margin-right: 20px;
  border-radius: 10px;
  float: left;
  overflow: hidden;
}

.CardPhoto {
  width: 100%;
  height: auto;
}

.CardTitle {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.CardInfo {
  font-size: 18px;
  font-style: italic;
  text-align: justify;
}

.CardBtn {
  width: 150px;
  height: 30px;
  margin: 20px 30px 5px;
  font-size: 13px;
  border-radius: 5px;
  float: right;
}