.FolioExamples {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.FolioItem {
  width: 30%;
  height: 200px;
  margin-bottom: 60px;
  text-align: center;
  position: relative;
}

.FolioItem-Img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.FolioItem-Description {
  position: absolute;
  left: 20px;
  bottom: -25px;
  color: #0f0f0f;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.AllFolioBtn {
  width: 350px;
  height: 45px;
  font-size: 20px;
  border-radius: 8px;
}