.MainMenu {
  padding: 0 30px;
  height: 46px;
  background: url('/img/nav-bar.png') no-repeat;
  background-size: 100% 46px;
  overflow: hidden;
}

.MainMenu .Nav {
  font-weight: bold;
}

.MainMenu .Nav li {
  margin: 0 20px;
}