.Title {
  font-family: 'Wide Latin', arial, sans-serif;
  margin: 50px 20px;
  text-align: center;
  color: #ffa822;
  text-shadow: 3px 3px 2px rgba(255, 207, 119, 0.7);
  font-size: 40px;
  font-weight: bold;
  cursor: default;
}