.Nav {
  margin-right: 20px;
  list-style: none;
  text-align: right;
  cursor: default;
}

.Nav li {
  display: inline-block;
  cursor: pointer;
}

.Nav-Item {
  color: #bfbfbf;
  text-decoration: none;
  cursor: pointer;
}

.Nav-Item:hover {
  color: #03a8e3;
}

.Nav-Item.Selected {
  color: #03a8e3;
  cursor: default;
}