.Footer {
  margin: 80px auto 20px;
  height: 94px;
  background: url('/img/footer.png') no-repeat;
  background-size: 100% 94px;
  overflow: hidden;
}

.Footer .Nav {
  font-size: 12px;
  line-height: 40px;
}

.Footer .Nav li {
  margin: 0 7px;
}