.ContactsContent {
  width: 90%;
  margin: 0 auto;
  color: #0f0f0f;
  padding: 10px 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  background: rgba(200, 209, 215, 0.4);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(200, 209, 215, 0.4);
}

.ContactsContent p {
  margin: 10px 0;
}