.Btn {
  color: #bfbfbf;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(180deg, rgb(88, 88, 88) 0%, rgb(5, 5, 5) 100%);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 0.5), 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  border: 1px solid #343434;
}

.Btn:active {
  color: #03a8e3;
  background: linear-gradient(180deg, rgb(55, 55, 55) 0%, rgb(5, 5, 5) 100%);
}